@page "/"
@using Pocky.WASM.Identity
@inject IAccountManagement AccountManagement
@inject NavigationManager Navigation
@attribute [Authorize]
<PageTitle>Home</PageTitle>
<div>
<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-danger" @onclick="Logout">Logout</button>
</div>

@code{
	private async Task Logout(){
		await AccountManagement.LogoutAsync();
		Navigation.NavigateTo("/login");
	}
}