@page "/"
@using Pocky.WASM.Identity
@inject IAccountManagement AccountManagement
@inject NavigationManager Navigation
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<div>
    <header id="header" class="header px-3 d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <h1 class="sitename">WeBuild</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#contact" @onclick="Logout">Logout</a></li>

                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>

    <main class="main">

        <section id="hero" class="hero section transparent-background">

            <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2>Welcome to Our Website</h2>
                        <p>We are still working on our website. Stay tuned for updates!</p>
                    </div>
                    <div class="countdown" data-count="2024/12/3">
                        <span class="count-days"></span> days <span class="count-hours"></span>:<span class="count-minutes"></span>:<span class="count-seconds"></span>
                    </div>

                    <div class="col-lg-5 hero-newsletter">
                        <p>Subscribe now to get the latest updates!</p>
                        <form action="forms/newsletter.php" method="post" class="php-email-form">
                            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                        </form>
                    </div>

                </div>
            </div>

        </section>
 

    </main>

    <footer id="footer" class="footer transparent-background">

        <div class="container">
            <div class="copyright text-center ">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">WeBuild</strong> <span>All Rights Reserved</span></p>
            </div>
            <div class="social-links d-flex justify-content-center">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

    </footer>

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>


</div>

@code{
	private async Task Logout(){
		await AccountManagement.LogoutAsync();
		Navigation.NavigateTo("/login");
	}
}